# Hello world 출력

## 부제목 
### 소제목



쥬피터로 프로그램 개발 테스트

In [1]:
print( "Hello world")

Hello world

In [1]:
import pandas_datareader as pdr
pdr.get_data_fred('GS10')

            GS10
DATE
2017-05-01  2.30
2017-06-01  2.19
2017-07-01  2.32
2017-08-01  2.21
2017-09-01  2.20
2017-10-01  2.36
2017-11-01  2.35
2017-12-01  2.40
2018-01-01  2.58
2018-02-01  2.86
2018-03-01  2.84
2018-04-01  2.87
2018-05-01  2.98
2018-06-01  2.91
2018-07-01  2.89
2018-08-01  2.89
2018-09-01  3.00
2018-10-01  3.15
2018-11-01  3.12
2018-12-01  2.83
2019-01-01  2.71
2019-02-01  2.68
2019-03-01  2.57
2019-04-01  2.53
2019-05-01  2.40
2019-06-01  2.07
2019-07-01  2.06
2019-08-01  1.63
2019-09-01  1.70
2019-10-01  1.71
2019-11-01  1.81
2019-12-01  1.86
2020-01-01  1.76
2020-02-01  1.50
2020-03-01  0.87
2020-04-01  0.66
2020-05-01  0.67
2020-06-01  0.73
2020-07-01  0.62
2020-08-01  0.65
2020-09-01  0.68
2020-10-01  0.79
2020-11-01  0.87
2020-12-01  0.93
2021-01-01  1.08
2021-02-01  1.26
2021-03-01  1.61
2021-04-01  1.64
2021-05-01  1.62
2021-06-01  1.52
2021-07-01  1.32
2021-08-01  1.28
2021-09-01  1.37
2021-10-01  1.58
2021-11-01  1.56
2021-12-01  1.47
2022-01-01  1.76
2022-02-01  1.93
2022-03-01  2.13

In [2]:
import pandas_datareader.data as web

In [3]:
df = web.DataReader('005930', 'naver', start='2021-12-01')#, end='2023-04-05')
df

             Open   High    Low  Close    Volume
Date
2021-12-01  72000  74800  71600  74400  21954856
2021-12-02  73900  75800  73800  75800  23652940
2021-12-03  75600  76000  74100  75600  18330240
2021-12-06  75100  76700  74900  76300  16391250
2021-12-07  76100  77700  75600  77400  19232453
...           ...    ...    ...    ...       ...
2022-09-21  55400  55500  55000  55300  11863700
2022-09-22  54600  54700  54300  54400  12786510
2022-09-23  54400  54900  54200  54500  10555964
2022-09-26  53700  54200  53600  53900  15008449
2022-09-27  53800  54200  53500  54200  15888921

[203 rows x 5 columns]